.container{
    margin: 0 auto;
    display: block;
    width: 75%;
}

.content{
    margin-top: 20px;
}


.tabs {
    display: flex;
    gap: 12px;
    /* margin-bottom: 10px; */
    flex-wrap: wrap;
    padding: 15px 15px 10px;
    background-color: var(--bg-secondary);
}

.tab {
    background: transparent;
    border: none;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

.activeTab {
    color: var(--tab-active);
}


.usecaseTab {
    background: transparent;
    border-radius: 20px;
    border: 1px solid #646cff;
    color: var(--text-secondary);
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 10px;
}

.usecaseTab.dark {
    box-shadow: 0px 0px 5px 0px rgba(140, 0, 255, 0.623);
    border: 1px solid #3b44e7;
}



.activeUsecaseTab {
    border-radius: 20px;
    border: 1px solid #0077ff;
    background-color: #3b44e7;
    color: white;
}
