.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 8px;
}

.category{
    color: var(--text-secondary);
    margin: 0;
}

.name {
    font-size: 16px;
    margin: 0;
}

.removeButton {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 25px;
}
