.container {
    margin-right: 25px;
    margin-bottom: auto;
    background-color: var(--bg-secondary);
    display: block;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px -4px rgba(53, 53, 53, 0.068);
}



