

.card {
    padding: 10px 40px ;
    /* border-bottom: 1px solid rgba(255, 255, 255, .2); */
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.card.dark {
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.card.light {
    border-top: 1px solid rgba(66, 66, 66, 0.562);
}

.componentType{
    color: var(--text-secondary);

    margin-bottom: 5px;
}


.card__info {
    margin-right: 30px;
    width: 30%;
}

.card__title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: pointer;
}


.card__details {
    cursor: pointer;
    color: #212ae0;
}

.card__price {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
    width: 200px;
    justify-content: space-between;
}

.card__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 35%;
}

.offersButton {
    margin-top: 10px;
    padding: 10px 10px;
    /* background: rgba(0, 0, 0, 0.226); */
    color: #1822d1;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #1822d1;
    font-weight: 700;
    width: 100%;
    letter-spacing: 0.8px ;
    transition: color border 0.5s ;
}

.offersButton.light:hover {
    border: 1px solid #121780;
    color: #121780;
}

.offersButton.dark {
    color: #646cff;
    border: 2px solid #646cff;
}

.offersButton.dark:hover {
    box-shadow: 0 0 10px 0 rgba(100, 108, 255, 0.2);
}

.notificationIcon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}