.buildContainer {
    width: 330px;
}

.title {
    font-size: 20px;
    margin: 0 12px 12px;
}

.empty {
    font-style: italic;
    color: #777;
}


.summary {
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.button {
    width: 100%;
    /* border: 2px solid #c0ff01; */
    border: 2px solid var(--green);
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: box-shadow 0.8s cubic-bezier(0.16, 0.79, 0.32, 1.07);

}

.button:hover{
    box-shadow: 
        inset 0 0 10px rgba(0, 0, 0, 0.151),
        0 0 10px rgba(55, 255, 245, 0.6);
}