/* styles.module.css */
.form {
    display: flex;
    flex-direction: column;
    
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.inputLabel::after {
    content: " *";
    color: rgb(153, 42, 243);
}

input {
    padding: 10px;
    background-color: #191a1b ;
    margin-bottom: 10px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    color: white;
}



.showPasswordIcon {
    width: 20px;
    height: 20px;
}

.passwordInput {
    min-width: 260px;
}

.formLabel {
    text-align: center;
}

.passwordInputContainer {
    position: relative;
    width: 100%;
}

.passwordInput {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    font-size: 16px;
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.eyeIcon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin-bottom: 7px;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Базовые стили кнопки */
.submitButton {
    width: 100%;
    padding: 12px 20px;
    /* background-color: rgb(153, 42, 243); */
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow:
        inset 0 0 10px rgba(162, 48, 255, 0.712);
    border: 2px solid rgb(167, 60, 255);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.submitButton:not(:disabled):hover {
    box-shadow:
        inset 0 0 20px rgba(167, 60, 255, 0.89);
}

.submitButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(94, 76, 175, 0.3);
}

.submitButton:disabled {
    color: rgb(99, 99, 99);
    box-shadow:
        inset 0 0 10px rgba(96, 19, 158, 0.623);
    cursor: not-allowed;
    opacity: 0.8;
}


.error {
    color: #d32f2f;
    background-color: #fdecea;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #d32f2f;
    font-size: 14px;
}

.success {
    color: white;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #53ff5b;
    font-size: 16px;
}

.loginLink {
    /* color: rgb(0, 0, 126); */
    /* text-decoration: underline #7aff81; */
    color: #00fff2;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
}

.loginLink:hover {
    color: #00ccff;
}


.errorInput {
    border-color: #ff7a45;
    box-shadow: 0 0 5px #f8672ec9;
}


.errorMessage {
    color: #ff7a45;
    font-size: 12px;
    margin-top: 0;
}

.successMessage{
    margin: 0;
}