#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: left;
  background-color: #1b1c24;
  max-width: 1440px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}