#root {
  margin: 0;
  padding: 2rem;
  text-align: left;
  background-color: #111111;
  min-width: 1100px;
  max-width: 1440px;
  margin: 0 auto;
  letter-spacing: 0.5px !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}