.card {
    border-top: 1px solid var(--divider);
    padding: 30px 40px 50px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}


.info {
    margin-right: 30px;
    width: 30%;
}

.title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}


.details {
    cursor: pointer;
    padding-top: 15px;
    color: #212ae0;
    font-weight: 700;
    transition: color 0.3s ;
}

.details.dark {
    color: #3b44e7;
}

.details.dark:hover {
    color: #646cff;
}

.details:hover {
    color: #0a1197;
}

.price {
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
    margin: 0 10px;
    padding-top: 12px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.addButton {
    padding: 10px 0;
    background-color: #3b44e7;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    font-weight: 500;
    width: 100%;
    text-align: center;
    letter-spacing: 0.8px ;
    transition: background-color 0.3s ;
}


.addButton:hover {
    background-color: #1822d1;
}

.addButtonSelected.light {
    color: rgb(255, 255, 255);
    background: black;
}

.addButtonSelected.light:hover {
    background-color: rgb(44, 44, 44);
}

.addButtonSelected.dark {
    color: rgb(255, 255, 255);
    background: #2e2e2e;
}

.addButtonSelected.dark:hover {
    background-color: #444444;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    font-size: 16px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.offersButton {
    margin-top: 10px;
    padding: 10px 0;
    /* background: rgba(0, 0, 0, 0.226); */
    color: #1822d1;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #1822d1;
    font-weight: 700;
    width: 100%;
    letter-spacing: 0.8px ;
    transition: color border 0.5s ;
}

.offersButton.light:hover {
    border: 1px solid #121780;
    color: #121780;
}

.offersButton.dark {
    color: #646cff;
    border: 2px solid #646cff;
}

.offersButton.dark:hover {
    box-shadow: 0 0 10px 0 rgba(100, 108, 255, 0.2);
}

.modalTitle {
    margin-bottom: 30px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%
}

.notificationIcon{
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.notification{
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-top: 4px;
}