.card {
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 30px 40px 50px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}


.card__info {
    margin-right: 30px;
    width: 30%;
}

.card__title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}


.card__details {
    cursor: pointer;
    padding-top: 15px;
    /* color: rgb(169, 75, 247); */
    color: var(--blue);
    font-weight: 700;
}

.card__price {
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
    margin: 0 10px;
    padding-top: 12px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.addButton {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.226);
    color: #f5fffe;
    border: 2px solid var(--green);
    cursor: pointer;
    border-radius: 0 !important;
    font-weight: 500;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.151);
    letter-spacing: 0.8px ;
    transition: box-shadow 0.5s cubic-bezier(0.16, 0.79, 0.32, 1.07);
}

.addButton:hover {
    /* Сохраняем inset-тень и добавляем внешнюю */
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.151),
        0 0 10px var(--green);
}

.addButtonSelected {
    color: rgb(255, 255, 255);
    /* Фиолетовый текст */
    border: 1px solid #ffffff;
    border-radius: 0%;
    /* Белая обводка */
    background: transparent;
}

.addButtonSelected:hover {
    border-radius: 0%;
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.151),
        0 0 10px rgba(255, 255, 255, 0.6);
    /* Слегка белый фон при наведении */
}

.addButton,
.addButton:hover,
.addButton:active,
.addButton:focus {
    border-radius: 0 !important;
}

.addButton,
.addButton:hover,
.addButtonSelected,
.addButtonSelected:hover {
    border-radius: 0 !important;
}


.addButton {
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #212124;
    color: #ffffff;
    /* padding: 20px; */
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    font-size: 16px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.offersButton {
    margin-top: 10px;
    padding: 10px 0;
    /* background: rgba(0, 0, 0, 0.226); */
    background-color: var(--bg-primary);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0 !important;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: center;
    /* background-color: #16003085; */
    /* box-shadow:
        inset 0 0 10px rgba(155, 33, 255, 0.623);
    border: 1px solid rgb(153, 42, 243); */
    /* box-shadow: inset 0 0 10px var(--blue); */
    border: 1px solid var(--blue);
    width: 100%;
    letter-spacing: 0.8px ;
}

.offersButton:hover {
    box-shadow:
       0 0 10px var(--blue);
}

.modalTitle {
    margin-bottom: 30px;
}

.card__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%
}

.notificationIcon{
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}