/* styles.module.css */
.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.formLabel {
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.input.light {
    background-color: #fff;
    color: #000000;
    border: 1px solid #2b2b2b;
}

input.dark:focus {
    border: 1px solid #00fff29d;
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.151),
        0 0 10px rgba(55, 255, 245, 0.6);
}



.submitButton {
    width: 100%;
    padding: 12px 20px;
    background-color: #3b44e7;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    outline: none;
    border: none;
}

.submitButton:not(:disabled):hover {
    background-color: #1c25d3;
}


.submitButton:disabled {
    background-color: #404372;
    cursor: not-allowed;
    opacity: 0.8;
}

.showPasswordIcon {
    width: 20px;
    height: 20px;
}

.passwordInput {
    min-width: 260px;
    color: white;
}


.passwordInputContainer {
    position: relative;
    width: 100%;
}

.passwordInput {
    width: 100%;
    padding: 10px 40px 10px 15px;
    /* Добавляем отступ справа для иконки */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 16px;
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.eyeIcon {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
}



.error {
    color: #d32f2f;
    background-color: #fdecea;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #d32f2f;
    font-size: 14px;
}

.success {
    color: #00fff29d;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #00fff29d;
    font-size: 16px;
}

.loginLink {
    /* color: rgb(0, 0, 126); */
    text-decoration: underline rgba(167, 60, 255, 0.89);
    cursor: pointer;
    margin-left: 0.5rem;
}

.errorInput.dark {
    border-color: #ff7a45;
    box-shadow: 0 0 5px #f8672ec9;
}

.errorInput.light {
    border-color: #e7604f;
    box-shadow: 0 0 5px #f17240c9;
}


.errorMessage {
    color: #ff7a45;
    font-size: 12px;
    margin-top: 0;
}

.errorMessage.light {
    color: #e60f00;
    font-size: 12px;
    margin-top: 0;
}

.message {
    font-size: 16px;
}

.message.light {
    color: rgb(0, 0, 0);
    border-left: 4px solid #3b44e7;
    padding: 10px 12px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.message.dark {
    color: rgb(255, 255, 255);
    border-left: 4px solid rgb(167, 60, 255);
    padding: 10px 12px;
    margin-bottom: 16px;
    line-height: 1.4;
}