/* styles.module.css */
.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: black;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.formLabel {
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



/* Базовые стили кнопки */
button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Для иконки загрузки, если будет добавлена */
}

/* Состояние наведения */
button[type="submit"]:not(:disabled):hover {
    background-color: #45a049;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Состояние фокуса */
button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}

/* Отключенное состояние (во время загрузки) */
button[type="submit"]:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
    opacity: 0.8;
}

.showPasswordIcon {
    width: 20px;
    height: 20px;
}

.passwordInput {
    min-width: 260px;
}


.passwordInputContainer {
    position: relative;
    width: 100%;
}

.passwordInput {
    width: 100%;
    padding: 10px 40px 10px 15px;
    /* Добавляем отступ справа для иконки */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.eyeIcon {
    width: 20px;
    height: 20px;
}



.error {
    color: #d32f2f;
    background-color: #fdecea;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #d32f2f;
    font-size: 14px;
}

.success {
    color: #2e7d32;
    background-color: #edf7ed;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    border-left: 4px solid #2e7d32;
    font-size: 14px;
}

.loginLink {
    /* color: rgb(0, 0, 126); */
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
}

/* .loginLink:hover {
    color: darkblue;
} */