.componentDetails {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}



.componentTitle {
    color: var(--text-primary);
    margin-bottom: 10px;
}

.componentMeta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--text-secondary);
    font-size: 14px;
}

.componentSpecs h3 {
    margin-bottom: 15px;
    color: var(--text-primary);
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}


.spec-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
}

.specName {
    color: var(--text-primary);
}

.specValue {
    font-weight: bold;
    color: var(--text-primary);
}